---
import { footer } from "../../../data/navigation.json";
import Icon from "../utility/icon";
---

<footer
  style={`background-color: ${footer.background_color}; color: ${footer.color};`}
  class=""
>
  <div class="bg-pink-300">
    <div
      class="flex justify-center items-center gap-4 0 max-w-screen-xl mx-auto py-4"
    >
      <img
        src="/abts-instagram.png"
        alt=""
        class="h-auto w-16"
        height="60"
        width="60"
      />
      <img
        src="abts-facebook.png"
        alt=""
        class="h-auto w-16"
        height="60"
        width="60"
      />
      <img
        src="/abts-x.png"
        alt=""
        class="h-auto w-16"
        height="60"
        width="60"
      />
    </div>
  </div>
  <div class="max-w-screen-xl mx-auto">
    <div class="sm:flex justify-center items-center gap-8 py-4">
      <a class="text-xl font-normal font-extrabold text-gray-900 block">Home</a>
      <span class="hidden sm:block">/</span>
      <a class="text-xl font-normal font-extrabold text-gray-900 block">Contact</a>
      <span class="hidden sm:block">/</span>
      <a class="text-xl font-normal font-extrabold text-gray-900 block">Banana Bread</a>
      <span class="hidden sm:block">/</span>
      <a class="text-xl font-normal font-extrabold text-gray-900 block">Rootin Tootin Baked Beans</a>
      <span class="hidden sm:block">/</span>
      <a class="text-xl font-normal font-extrabold text-gray-900 block">Caramel</a>
      <span class="hidden sm:block">/</span>
      <a class="text-xl font-normal font-extrabold text-gray-900 block">About</a>
    </div>
  </div>
</footer>

<style>
  .footer {
    max-width: var(--pageContainer);
    margin: 0 auto;
  }
  .footer__logo-image {
    display: block;
    max-width: min(200px, 80%);
  }
</style>
